#footer {
	background-color: var(--cPrincipal);
	color: var(--cSecundario);
	text-align: center;
	padding: 20px;
}

#footer p, #footer a {
	margin: 0;
}

#footer a {
	font-size: 15px;
}

#footer i {
	margin: 0;
}

#footer a {
	color: var(--cSecundarioOscuro);
}