<!DOCTYPE html>
<html lang="en">
	<head>
	    <script th:replace="/shared/head"></script>
	    <!-- View styles -->
	    <link rel="stylesheet" th:href="@{/css/styles-driver-info.css}">
		<!-- View scripts -->
	</head>
	<body>
		<!-- Header -->
		<section th:insert="/shared/header :: header"></section>
		
		<!-- Content -->
		<div id="driver-info-section" class="container mt-5 mb-5">
	        <!-- Datos del piloto -->
	        <section class="row no-gutters presentacion-piloto">
	            <!-- Imagen -->
	            <div class="col-md-4 col-lg-3 imagen">
	            	<img th:src="@{/img/drivers/default.jpg}">
	            </div>
	
	            <!-- Datos Piloto -->
	            <div class="col-md-8 col-lg-9 datos">
	                <div class="d-flex flex-column">
	                    <!-- Datos Personales -->
	                    <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-principal text-white personales">
	                        <h3 class="display-5">Juan Manuel Fangio</h3>
	                        <div class="d-flex flex-row justify-content-between align-items-center bg-principal text-white" style="gap:10px;">
	                            <img th:src="@{/img/countries/AR.png}">
	                            <img th:src="@{/img/helmets/default_moderno.svg}">
	                        </div>
	                    </div>
	                    
	                    <!-- Estadísticas -->
	                    <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-principal-light text-white estadisticas">
	                        <div class="campeonatos">
	                            <img th:src="@{/img/icons/campeonatos_mundiales.svg}" title="Campeonatos Mundiales">
	                            5
	                        </div>
	                        
	                        <div class="victorias">
	                            <img th:src="@{/img/icons/victorias.svg}" title="Victorias">
	                            24
	                        </div>
	
	                        <div class="poles">
	                            <img th:src="@{/img/icons/poles.svg}" title="Poles">
	                            29
	                        </div>
	
	                        <div class="podios">
	                            <img th:src="@{/img/icons/podios.svg}" title="Podios">
	                            35
	                        </div>
	
	                        <div class="vueltas_rapidas">
	                            <img th:src="@{/img/icons/vueltas_rapidas.svg}" title="Vueltas Rápidas">
	                            23
	                        </div>
	
	                        <div class="grandes_premios">
	                            <img th:src="@{/img/icons/grandes_premios.svg}" title="Grandes Premios">
	                            53
	                        </div>
	                    </div>
	
	                    <!-- Fecha de nacimiento/Actualidad -->
	                    <div class="p-3 bg-principal text-white actualidad">
	                    	<h6>Fecha de nacimiento: 03/06/2000</h6>
	                        <h6>Actualidad: no compite</h6>
	                    </div>
	                </div>
	            </div>
	        </section>
	
	        <!-- Circuitos favoritos -->
	        <section class="circuitos-favoritos">
	            <div class="p-3 bg-principal text-white mb-1">
	                <h3>Circuitos favoritos</h3>
	            </div>
	
	            <div class="swiper">
	                <div class="swiper-wrapper">
	                    <div class="circuito monza swiper-slide">
	                        <div class="trazado">
	                        	<img th:src="@{/img/tracks/monza.svg}">
	                        </div>
	
	                        <div class="datos">
	                        	<img th:src="@{/img/countries/IT.png}">
	                            <h4>Monza</h4>
	                        </div>
	                        
	                        <div class="estadisticas">
	                            <div class="grandes_premios">
	                                <img th:src="@{/img/icons/grandes_premios.svg}" title="Grandes Premios">
	                                20
	                            </div>
	                            <div class="victorias">
	                                <img th:src="@{/img/icons/victorias.svg}" title="Victorias">
	                                15
	                            </div>
	                            <div class="puntos">
	                                <img th:src="@{/img/icons/puntos.svg}" title="Puntos">
	                                50
	                            </div>
	                            <div class="mejor-posicion">
	                                <img th:src="@{/img/icons/mejor_posicion.svg}" title="Mejor posición">
	                                1°
	                            </div>
	                        </div>
	                    </div>
	
	                    <div class="circuito monaco swiper-slide">
	                        <div class="trazado">
	                        	<img th:src="@{/img/tracks/monaco.png}">
	                        </div>
	
	                        <div class="datos">
	                            <img th:src="@{/img/countries/UNK.png}">
	                            <h4>Montecarlo</h4>
	                        </div>
	
	                        <div class="estadisticas">
	                            <div class="grandes_premios">
	                                <img th:src="@{/img/icons/grandes_premios.svg}" title="Grandes Premios">
	                                20
	                            </div>
	                            <div class="victorias">
	                                <img th:src="@{/img/icons/victorias.svg}" title="Victorias">
	                                15
	                            </div>
	                            <div class="puntos">
	                                <img th:src="@{/img/icons/puntos.svg}" title="Puntos">
	                                50
	                            </div>
	                            <div class="mejor-posicion">
	                                <img th:src="@{/img/icons/mejor_posicion.svg}" title="Mejor posición">
	                                1°
	                            </div>
	                        </div>
	                    </div>
	
	                    <div class="circuito marina_bay swiper-slide">
	                        <div class="trazado">
	                        	<img th:src="@{/img/tracks/marina_bay.svg}">
	                        </div>
	
	                        <div class="datos">
	                        	<img th:src="@{/img/countries/UNK.png}">
	                            <h4>Marina Bay</h4>
	                        </div>
	
	                        <div class="estadisticas">
	                            <div class="grandes_premios">
	                                <img th:src="@{/img/icons/grandes_premios.svg}" title="Grandes Premios">
	                                20
	                            </div>
	                            <div class="victorias">
	                                <img th:src="@{/img/icons/victorias.svg}" title="Victorias">
	                                15
	                            </div>
	                            <div class="puntos">
	                                <img th:src="@{/img/icons/puntos.svg}" title="Puntos">
	                                50
	                            </div>
	                            <div class="mejor-posicion">
	                                <img th:src="@{/img/icons/mejor_posicion.svg}" title="Mejor posición">
	                                1°
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	
	        <!-- Escuderias -->
	        <section class="escuderias">
	            <div class="p-3 bg-principal text-white">
	                <h3>Escuderias</h3>
	            </div>
	            
	            <div class="swiper">
	                <div class="swiper-wrapper">
	                    <div class="escuderia alfa_romeo swiper-slide">
	                        <div class="datos-escuderia">
	                        	<img th:src="@{/img/countries/UNK.png}">
	                        </div>
	    
	                        <div class="imagen text-center">
	                        	<img th:src="@{/img/teams/alfa_romeo.png}">
	                        </div>
	    
	                        <div class="estadisticas">
	                            <div class="campeonatos">
	                                <img th:src="@{/img/icons/campeonatos_escuderia.svg}" title="Campeonatos de Equipo">
	                                5
	                            </div>
	                            
	                            <div class="victorias">
	                                <img th:src="@{/img/icons/victorias.svg}" title="Victorias">
	                                24
	                            </div>
	    
	                            <div class="puntos">
	                                <img th:src="@{/img/icons/puntos.svg}" title="Puntos">
	                                24
	                            </div>
	                        </div>
	                    </div>
	    
	                   	<div class="escuderia alfa_romeo swiper-slide">
	                        <div class="datos-escuderia">
	                        	<img th:src="@{/img/countries/UNK.png}">
	                        </div>
	    
	                        <div class="imagen text-center">
	                        	<img th:src="@{/img/teams/alfa_romeo.png}">
	                        </div>
	    
	                        <div class="estadisticas">
	                            <div class="campeonatos">
	                                <img th:src="@{/img/icons/campeonatos_escuderia.svg}" title="Campeonatos de Equipo">
	                                5
	                            </div>
	                            
	                            <div class="victorias">
	                                <img th:src="@{/img/icons/victorias.svg}" title="Victorias">
	                                24
	                            </div>
	    
	                            <div class="puntos">
	                                <img th:src="@{/img/icons/puntos.svg}" title="Puntos">
	                                24
	                            </div>
	                        </div>
	                    </div>
	    
	                   	<div class="escuderia alfa_romeo swiper-slide">
	                        <div class="datos-escuderia">
	                        	<img th:src="@{/img/countries/UNK.png}">
	                        </div>
	    
	                        <div class="imagen text-center">
	                        	<img th:src="@{/img/teams/alfa_romeo.png}">
	                        </div>
	    
	                        <div class="estadisticas">
	                            <div class="campeonatos">
	                                <img th:src="@{/img/icons/campeonatos_escuderia.svg}" title="Campeonatos de Equipo">
	                                5
	                            </div>
	                            
	                            <div class="victorias">
	                                <img th:src="@{/img/icons/victorias.svg}" title="Victorias">
	                                24
	                            </div>
	    
	                            <div class="puntos">
	                                <img th:src="@{/img/icons/puntos.svg}" title="Puntos">
	                                24
	                            </div>
	                        </div>
	                    </div>
	
	                   	<div class="escuderia alfa_romeo swiper-slide">
	                        <div class="datos-escuderia">
	                        	<img th:src="@{/img/countries/UNK.png}">
	                        </div>
	    
	                        <div class="imagen text-center">
	                        	<img th:src="@{/img/teams/alfa_romeo.png}">
	                        </div>
	    
	                        <div class="estadisticas">
	                            <div class="campeonatos">
	                                <img th:src="@{/img/icons/campeonatos_escuderia.svg}" title="Campeonatos de Equipo">
	                                5
	                            </div>
	                            
	                            <div class="victorias">
	                                <img th:src="@{/img/icons/victorias.svg}" title="Victorias">
	                                24
	                            </div>
	    
	                            <div class="puntos">
	                                <img th:src="@{/img/icons/puntos.svg}" title="Puntos">
	                                24
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	
	        <!-- Temporadas -->
	        <section class="temporadas">
	            <div class="p-3 bg-principal text-white">
	                <h3>Temporadas</h3>
	            </div>
	
	            <div class="contenedor-tabla-temporadas">
	                <table id="tabla-temporadas" class="table hover dt-left">
	                    <thead class="thead-dark">
	                        <tr>
	                            <th scope="col">Temporada</th>
	                            <th scope="col">Equipos</th>
	                            <th scope="col">Carreras</th>
	                            <th scope="col">Victorias</th>
	                            <th scope="col">Poles</th>
	                            <th scope="col">Vueltas Rápidas</th>
	                            <th scope="col">Podios</th>
	                            <th scope="col">Puntos</th>
	                            <th scope="col">Posición</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr>
	                            <td scope="row">1950</td>
	                            <td>Alfa Romeo Racing</td>
	                            <td>6</td>
	                            <td>3</td>
	                            <td>4</td>
	                            <td>3</td>
	                            <td>3</td>
	                            <td>27</td>
	                            <td>
	                                2°
	                                <img th:src="@{/img/icons/campeonatos_escuderia.svg}">
	                            </td>
	                        </tr>
	                        <tr>
	                            <td scope="row">1951</td>
	                            <td>Alfa Romeo Racing</td>
	                            <td>7</td>
	                            <td>3</td>
	                            <td>4</td>
	                            <td>5</td>
	                            <td>5</td>
	                            <td>31</td>
	                            <td>
	                                1°
	                                <img th:src="@{/img/icons/campeonatos_mundiales.svg}">
	                                <img th:src="@{/img/icons/campeonatos_escuderia.svg}">
	                            </td>
	                        </tr>
	                        <tr>
	                            <td scope="row">1953</td>
	                            <td>Maseratti</td>
	                            <td>8</td>
	                            <td>1</td>
	                            <td>2</td>
	                            <td>2</td>
	                            <td>4</td>
	                            <td>28</td>
	                            <td>2°</td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	        </section>
	    </div>

		<!-- Footer -->
		<section th:insert="/shared/footer :: footer"></section>
		
		<!-- Sliders -->
	    <script>
	        var sliderEscuderias = new Swiper(".escuderias .swiper", { 
	            autoplay: {
	                delay: 2500,
	                disableOnInteraction: true,
	            },
	            grabCursor: true,
	            breakpoints: {
	                992: {
	                    slidesPerView: 3,
	                    spaceBetween: 10,
	                },
	                768: {
	                    slidesPerView: 2,
	                    spaceBetween: 10,
	                }
	            }, 
	        });
	
	        var sliderCircuitos = new Swiper(".circuitos-favoritos .swiper", { 
	            effect: "coverflow",
	            coverflowEffect: {
	                rotate: 35,
	                stretch: -20,
	                depth: 100,
	                modifier: 1,
	                slideShadows: false,
	            },
	            centeredSlides: true,
	            breakpoints: {
	                992: {
	                    initialSlide: 1,
	                    slidesPerView: 3,
	                    spaceBetween: 20,
	                    allowTouchMove: false
	                },
	                768: {
	                    initialSlide: 0,
	                    slidesPerView: 2,
	                    spaceBetween: 0,
	                    allowTouchMove: true
	                }
	            }
	        });
	    </script>
	    
	    <!-- Tables -->
	    <script>
	        $(document).ready( function () {
	            $('#tabla-temporadas').DataTable({
	                paging: false,
	                searching: false,
	                info: false,
	                columnDefs: [
	                    { className: 'dt-center', targets: [0,2,3,4,5,6,7] },
	                    { className: 'dt-head-center', targets: [1] }
	                ],
	            });
	        } );
	    </script>
	</body>
</html>