<div th:fragment="countries-selection-menu">	
	<div id="countries-select" class="countries-select" value=""></div>
	<div id="countries-menu" style="display: none;">
		<div class="country-selection">
			<div class="back-arrow disabled"><i class="fa-solid fa-circle-arrow-left"></i></div>
			<div class="countries">
				<div class="country">
					<div class="country-data" index="1" style="display:none" value="UNK">
						<img th:src="@{/img/countries/UNK.png}">
					</div>
				</div>
				<div class="country" th:each="country, status: ${countries}">
					<div class="country-data" th:index="${status.index+2}" th:name="${#strings.substring(country.name, 0, 1)}" th:continent="${country.continent.name}" style="display:none" th:value="${country.code}">
						<img th:src="@{'/img/countries/' + ${country.code} + '.png'}" data-toggle="tooltip" th:title="${country.name}">
					</div>
				</div>
			</div>
			<div class="next-arrow"><i class="fa-solid fa-circle-arrow-right"></i></div>
		</div>
	
		<div class="filters">
			<div class="letter-filter">
				<div class="letter">A</div>
				<div class="letter">B</div>
				<div class="letter">C</div>
				<div class="letter">D</div>
				<div class="letter">E</div>
				<div class="letter">F</div>
				<div class="letter">G</div>
				<div class="letter">H</div>
				<div class="letter">I</div>
				<div class="letter">J</div>
				<div class="letter">K</div>
				<div class="letter">L</div>
				<div class="letter">M</div>
				<div class="letter">N</div>
				<div class="letter">O</div>
				<div class="letter">P</div>
				<div class="letter">Q</div>
				<div class="letter">R</div>
				<div class="letter">S</div>
				<div class="letter">T</div>
				<div class="letter">U</div>
				<div class="letter">V</div>
				<div class="letter">W</div>
				<div class="letter">X</div>
				<div class="letter">Y</div>
				<div class="letter">Z</div>
			</div>
			<div class="continent-filter">
				<div class="continent">Africa</div>
				<div class="continent">Antarctica</div>
				<div class="continent">Asia</div>
				<div class="continent">Europe</div>
				<div class="continent">North America</div>
				<div class="continent">Oceania</div>
				<div class="continent">South America</div>
			</div>
		</div>
	</div>
</div>